---
version: "3"
services:
  sqs:
    build: elasticmq
  producer:
    build:
      context: .
      dockerfile: Dockerfile.scratch
    volumes:
      - "./bin:/bin"
    command: /bin/producer
    links:
      - sqs
  consumer:
    build: 
      context: .
      dockerfile: Dockerfile.scratch
    volumes:
      - "./bin:/bin"
    command: /bin/consumer
    links:
      - sqs
